.AddForm {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddForm__Bottom {
  margin-top: 10px;
  width: 70%;
  display: flex;
  align-items: center;
}

.AddForm__Bottom label {
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.Input {
  font-size: 16px;
  padding: 10px;
  border: none;
}

.AddForm__TaskInput {
  width: 100%;
}

.AddForm__DueDateInput {
  margin: 0 10px;
  flex: 3;
}

.react-datepicker__day--selected,
.react-datepicker__day--today {
  background-color: rgb(255, 81, 0);
}

.react-datepicker__day--selected:hover {
  background-color: rgb(223, 70, 0);
}

.AddForm__AddButton {
  border: none;
  background-color: rgb(255, 81, 0);
  color: white;
  font-size: 16px;
  padding: 10px 0;
  flex: 1;
}
