.List {
  background-color: rgba(255, 255, 255, 0.8);
  min-width: 300px;
  padding: 20px;
  border-radius: 20px;
  min-height: 40px;
}

.List h2 {
  margin: 0;
}

.List ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
